---
layout: default
title: Home
---
<!-- bio.html (include or part of a page) -->
<section class="bio‑section" id="bio">
{{ site.data.bio.html | raw }}
</section>

<!-- ========== EDUCATION ========== -->
<div class="docs-section" id="education">
  <h4>Education</h4>
      {{ site.data.education.html | raw }}
</div> <!-- end of .docs-section -->

<!-- ========== RESEARCH ========== -->
<div class="docs-section" id="research">
  <h4>Research</h4>
  {{ site.data.research.html | raw }}
</div>

<!-- ========== NEWS ========== -->
<div class="docs-section" id="news">
  <h4>News</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#news-recent">Recent News</div></li>
    <li><div class="button" data-ref="#news-old">Old News</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="news-recent">
      {% assign recent_news = site.data.news.news_items | where: "selected", "y" %}

      {% for news_item in recent_news %}
      <div class="news-item">
        <b> <span class="label-badge">{{ news_item.date }}</span></b>
        {{ news_item.item }}
        {% for link in news_item.info_links %}
          (<a href="{{ link.url }}" target="_blank">{{ link.text }}</a>)
        {% endfor %}
        {% if news_item.links %}
        <ul class="news-links">
        {% for link in news_item.links %}
          <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="tab-pane" id="news-old">
      {% assign old_news = site.data.news.news_items %}
      {% for news_item in old_news %}
      <div class="news-item">
        <b> <span class="label-badge">{{ news_item.date }}</span></b>
        {{ news_item.item }}
        {% for link in news_item.info_links %}
          (<a href="{{ link.url }}" target="_blank">{{ link.text }}</a>)
        {% endfor %}
        {% if news_item.links %}
        <ul class="news-links">
        {% for link in news_item.links %}
          <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>



<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

   
  <p>
    For the most up-to-date list of publications, please visit my  
    <a href="{{ site.data.main_info.google_scholar }}"
       target="_blank"
       rel="noopener noreferrer">
      Google Scholar 
    </a>
  </p>


  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper" style="
          display: table;
          width: 100%;
          margin-bottom: 1.5em;  /* spacing between papers */
          table-layout: fixed;   /* ensures columns don’t jump around */
          border-bottom: 0.5px dashed grey;
        ">
        <!-- The row -->
      <div style="display: table-row;">
        <!-- Left cell: Figure with overlayed label -->
    <div style="
      display: table-cell;
      vertical-align: top;
      width: 18em;
      white-space: nowrap;
    ">
      <div class="fig-container" style="position: relative; display: inline-block; width: 18em; text-align: center;">
        {% if paper.fig %}
          <img 
            src="{{ paper.fig | relative_url }}" 
            style="display: block; margin: 0 auto; max-width: 100%; max-height: 180px;"
          >
        {% endif %}
        {% if paper.label %}
          <span class="label-badge" style="
            position: absolute;
            top: -10px;
            left: 0;
          ">
            {{ paper.label }}
          </span>
        {% endif %}
      </div>
    </div>

          <div class="paper-details" style="
              display: table-cell;
              vertical-align: middle;
              padding-left: 1em; /* space between badge and text */
            ">
            <!-- Paper Title -->
            <p class="title"><b>{{ paper.title }}</b></p>
            <p>{{ paper.authors }}</p>
            <p><i>{{ paper.venue }}</i>{% if paper.year %}, {{ paper.year }}.{% endif %}</p>
            {% if paper.award %}
            <p><i class="fa fa-trophy" style="color:#0046AC"></i> <b>{{ paper.award }}</b></p>
            {% endif %}
            <div class="paper-buttons">
              {% if paper.paper_pdf %}
                <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
              {% endif %}

              {% if paper.preprint %}
                <a class="button" href="{{ paper.preprint }}" target="_blank">Preprint</a>
              {% endif %}

              {% if paper.code %}
                <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}

              {% if paper.data %}
                <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
              {% endif %}

              {% if paper.prereg %}
                <a class="button" href="{{ paper.prereg }}" target="_blank">Registration</a>
              {% endif %}
              
              {% if paper.slides %}
                <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
              {% endif %}

              {% if paper.poster %}
                <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
              {% endif %}

              {% if paper.video %}
                <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

 

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper" style="
          display: table;
          width: 100%;
          margin-bottom: 1.5em;  /* spacing between papers */
          table-layout: fixed;   /* ensures columns don’t jump around */
          border-bottom: 0.5px dashed grey;
        ">
        <!-- The row -->
      <div style="display: table-row;">
        <!-- Left cell: Figure with overlayed label -->
    <div style="
      display: table-cell;
      vertical-align: top;
      width: 18em;
      white-space: nowrap;
    ">
      <div class="fig-container" style="position: relative; display: inline-block; width: 18em; text-align: center;">
        {% if paper.fig %}
          <img 
            src="{{ paper.fig | relative_url }}" 
            style="display: block; margin: 0 auto; max-width: 100%; max-height: 180px;"
          >
        {% endif %}
        {% if paper.label %}
          <span class="label-badge" style="
            position: absolute;
            top: -10px;
            left: 0;
          ">
            {{ paper.label }}
          </span>
        {% endif %}
      </div>
    </div>

          <div class="paper-details" style="
              display: table-cell;
              vertical-align: middle;
              padding-left: 1em; /* space between badge and text */
            ">
            <!-- Paper Title -->
            <p class="title"><b>{{ paper.title }}</b></p>
            <p>{{ paper.authors }}</p>
            <p><i>{{ paper.venue }}</i>{% if paper.year %}, {{ paper.year }}.{% endif %}</p>
            {% if paper.award %}
            <p><i class="fa fa-trophy" style="color:#0046AC"></i> <b>{{ paper.award }}</b></p>
            {% endif %}
            <div class="paper-buttons">
              {% if paper.paper_pdf %}
                <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
              {% endif %}

              {% if paper.preprint %}
                <a class="button" href="{{ paper.preprint }}" target="_blank">Preprint</a>
              {% endif %}

              {% if paper.code %}
                <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}

              {% if paper.data %}
                <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
              {% endif %}

              {% if paper.prereg %}
                <a class="button" href="{{ paper.prereg }}" target="_blank">Registration</a>
              {% endif %}
              
              {% if paper.slides %}
                <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
              {% endif %}

              {% if paper.poster %}
                <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
              {% endif %}

              {% if paper.video %}
                <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- ========== EXPERIENCE ========== -->  
<div class="docs-section" id="experience">
  <h4>Experience</h4>
  <ul class="tab-nav">
    <!-- <li><div class="button" data-ref="#internship">Internship</div></li>
    <li><div class="button" data-ref="#visiting">Visiting Experience</div></li>
    <li><div class="button" data-ref="#talk">Invited Talk</div></li> -->
    <li><div class="button active" data-ref="#teaching">Teaching</div></li>
    <li><div class="button" data-ref="#services">Services</div></li>
  </ul>
  <div class="tab-content">
    <!-- <div class="tab-pane" id="internship">
      {{ site.data.internship.html | raw }}
    </div>
    <div class="tab-pane" id="visiting">
      {{ site.data.visiting.html | raw }}
    </div>
    <div class="tab-pane" id="talk">
      {{ site.data.talk.html | raw }}
    </div> -->
    <div class="tab-pane active" id="teaching">
      {{ site.data.teaching.html | raw }}
    </div>
    <div class="tab-pane" id="services">
      {{ site.data.service.html | raw }}
    </div> 
  </div> <!-- end of .tab-content -->
</div> <!-- end of .docs-section -->


<!-- ========== Award ========== -->  
<div class="docs-section" id="Award">
    <h4>Awards & Honors</h4>
    {{ site.data.award.html | raw }}
</div>


<!-- ========== THANKS ========== -->  
<!--
<div class="docs-section" id="template">
    <h4>Website Design</h4>
    Design by <a href="https://web.stanford.edu/~msaveski/" target="_blank">Martin Saveski</a>, forked by permission from <a href="https://github.com/msaveski/www_personal" target="_blank">his Github</a>. My version has some additional features; you can fork it from <a href="https://github.com/mmoorr/www_personal" target="_blank">here</a>.
</div>
-->

